<%- include('../../partials/head.ejs') %>
    <%- include('../../partials/navbar.ejs') %>

        <div class="container new_container ">
            <div class="card">
                <div class="card-header">
                    <h2>Editar o artigo</h2>
                </div>
                <div class="card-body">
                    <form action="/articles/update" method="POST">
                        <input type="hidden" value="<%= article.id %> " name="id">
                        <input type="text" name="title" class="form-control" placeholder="Defina o titulo do artigo"
                            value="<%= article.title %>">
                        <br>
                        <textarea name="body" id="article" class="form-control"
                            placeholder="Conteúdo do Artigo"></textarea>
                        <br>
                        <label for="">Categoria</label>
                        <select name="option_categories" class="form-control">
                            <option value="" disabled selected>Selecione</option>
                            <% categories.forEach(category=> { %>
                                <% if ( category.id == article.categoryId) { %>
                                    <option value="<%= category.id %>" selected>
                                        <%= category.title %>
                                    </option>
                                <% } else { %>
                                    <option value="<%= category.id %>">
                                        <%= category.title %>
                                    </option>
                                <% } %>
                            <% }); %>
                        </select>

                        <br>
                        <button class="btn btn-success new_button">Atualizar</button>
                    </form>
                </div>
            </div>
        </div>

        <div id="content" style="display: none;">
            <%- article.body %>
        </div>



        <%- include('../../partials/footer.ejs') %>

            <script src="/tinymce/tinymce.min.js"></script>
            <script>
                tinymce.init({
                    language: "pt_BR",
                    selector: "#article",
                    plugins: [
                        'advlist autolink link image lists print preview media save table paste wordcount hr fullscreen'
                    ],
                    init_instance_callback: () => {
                        tinymce.get("article").setContent($("#content").html())
                    }
                });
            </script>