<%- include('../../partials/head.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<div class="container new_container ">
    <div class="card">
        <div class="card-header">
            <h2>Novo Artigo</h2>
        </div>
        <div class="card-body">
            <form action="/article/save" method="POST">
                <input type="text" name="title" class="form-control" placeholder="Defina o titulo do artigo">
                <br>
                <textarea name="body" id="article" class="form-control" placeholder="Conteúdo do Artigo"></textarea>
                <br>
                <label for="">Categoria</label>
                <select name="option_categories" class="form-control">
                    <option value="" disabled selected>Selecione</option>
                    <% categories.forEach(category => { %>
                        <option value="<%= category.id %>"> <%= category.title %> </option>
                    <% }); %>
                </select>
                
                <br>
                <button class="btn btn-success new_button" >Cadastrar</button>
            </form>
        </div>
    </div>
</div>



<%- include('../../partials/footer.ejs') %>

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: "pt_BR",
        selector: "#article",
        plugins: [
            'advlist autolink link image lists print preview searcheplace media save table paste emoticon wordcount hr fullscreen'
        ]
    });
</script>