<%- include('../../partials/head.ejs') %>
<body>
    <%- include('../../partials/navbarhome.ejs') %>
    <br>
    <div class="container">
        
    
        <% result.articles.rows.forEach((article) => {%>
            <div class="card-header">
                <h2><%= article.title %></h2>
            </div>
            <div class="card-body">
                <a href="/<%= article.slug %>" class="btn btn-success">Ler artigo</a>
            </div>
            <br>
        <% }); %>
        <div class="row">
            <div class="col col-12">
                <% if( result.page > 1 ){%>
                    <a href="/articles/pages/<%= result.page -1 %>" style="float:left"> <<< Prev </a>
                <% } else if ( result.page == 1 ) { %>
                    <a href="/" style="float:left"> <<< Prev </a>
                <% } %>
                <% if(result.next) {%>
                    <a href="/articles/pages/<%= result.page + 1 %>" style="float:right"> Next >>> </a>
                <% } %>
            </div>
            <hr>
        </div>
    </div>
</body>
<%- include('../../partials/footer.ejs') %>
