<%- include('../../partials/head.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<div class="container new_container ">
    <div class="card">
        <div class="card-header">
            <h2>Edição</h2>
        </div>
        <div class="card-body">
            <form action="/categories/update" method="POST">
                <input 
                    type="text" 
                    name="title_categorie" 
                    class="form-control" 
                    placeholder="Nova Categoria"
                    value="<%= categoria.title %>">
                <input type="hidden" name="id" value="<%= categoria.id%>">
                    <br>
                <button class="btn btn-success new_button">Atualizar</button>
            </form>
        </div>
    </div>
</div>



<%- include('../../partials/footer.ejs') %>