<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/navbarhome.ejs') %>
    <br>
    <div class="container">
        
        <div class="jumbotron">
            <h1 class="display-4">Bem vindo</h1>
            <p class="lead">Simples blog de tecnologia, testando conhecimentos</p>
            <hr class="my-4">
        </div>
        <% article.forEach((article) => {%>
            <div class="card-header">
                <h2><%= article.title %></h2>
            </div>
            <div class="card-body">
                <a href="/<%= article.slug %>" class="btn btn-success">Ler artigo</a>
            </div>
            <br>
        <% }); %>
    </div>
</body>
<%- include('partials/footer.ejs') %>
